# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Aux, backup files
*.d
*.*~

# Log files
*.log


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# root files
*.root

